.header__text{
    font-family: $openSans;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    width: 80%;
    margin-top: 40px;

    @media (min-width: 576px) and (max-width: 992px){
        text-align: right;
    }
    @media (max-width: 575px){
        text-align: right;      
    }

    &._hide{
        display: none;
    }
}