@import 'header__form';
@import 'header__text';
@import 'header__input';

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    position: fixed;
    top:0;
    left: 240px;
    padding-left: 60px;
    border-bottom: 1px solid #E5E5E5;
    z-index: 1;

    @media (min-width: 576px) and (max-width: 992px){
        left: 246px;
        padding-left: 26px;
        padding-right: 100px;
        &._close{
            left: 104px;
            padding-left: 26px;
            padding-right: 0;
        }
    }

    @media (max-width: 575px){
        left: 20px;
        padding-left: 12px;
        padding-right: 0;
    }
}