html,
body {
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 240px;

    @media (min-width: 576px) and (max-width: 992px){
        left: 246px;

        &._wide{
            left: 104px;
        }
    }

    @media (max-width: 575px){
        left: 192px;

        &._wide{
            left: 12px;
        }
    }
}